/* ------------ Mobile ------------ */

/* Header - Nav */
.headerContainer > .headerContainer__navMenu {
  position: fixed;
  left: 0;
  bottom: 0;

  width: 100%;
  padding: 1rem;

  z-index: 1000;
}
.headerContainer > .headerContainer__navMenu___Transparent,
.headerContainer > .headerContainer__navMenu___BackgroundColor {
  background-color: var(--color-secundario);
  height: var(--header-nav-height);
}

/* Contenedor */
.headerContainer__navMenu > .navMenuContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
}

/* Logo */
.navMenuContainer > .navMenuContainer__logo > a {
  color: var(--color-principal);
  font-weight: bold;
  font-size: 1.45rem;
}
.navMenuContainer__logo > a > span {
  color: var(--color-blanco);
}

/* Boton Menu */
.navMenuContainer > .navMenuContainer__btnMenu {
  background-color: var(--color-secundario);
  outline: thin solid var(--color-principal);
  border: none;
  cursor: pointer;
}
.navMenuContainer__btnMenu > i {
  color: var(--color-blanco);
  font-size: 1.5rem;
  padding: 0.25rem;
  line-height: 1.5rem;
}

/* Menu Enlaces */
.navMenuContainer > .navMenuContainer__linksMenu {
  position: fixed;
  bottom: var(--header-nav-height);
  right: 0;

  display: flex;
  flex-direction: column;

  width: 100%;
  background-color: var(--color-secundario);
  transition: opacity 0.5s ease;
  opacity: 0;
  pointer-events: none; /* Quitamos con CSS los eventos de Click*/
}
.navMenuContainer > .navMenuContainer__linksMenu___IsActive {
  opacity: 1 !important;
  pointer-events: auto !important;
}

.navMenuContainer__linksMenu > a {
  padding: 1rem;
  font-size: 1.25rem;
  text-align: center;
  color: var(--color-naranja);
  font-weight: 500;
}
.navMenuContainer__linksMenu > a:hover,
.navMenuContainer__linkMenuSelected {
  color: var(--color-blanco) !important;
  background-color: var(--color-principal) !important;
  font-weight: 600 !important;
}

/* ------------ Escritorio ------------ */

@media screen and (min-width: 1024px) {
  /* Header - Nav */

  .headerContainer > .headerContainer__navMenu {
    position: fixed;
    left: 0;
    top: 0;
    padding: 0.75rem;
    height: calc(var(--header-nav-height) - 0.5rem);
    transition: all 0.3s ease;
    box-shadow: 0 0 0.75rem var(--color-negro-opacidad);
  }
  .headerContainer > .headerContainer__navMenu___Transparent {
    background-color: transparent;
    height: var(--header-nav-height);
  }


  /* Logo */
  .navMenuContainer > .navMenuContainer__logo {
    display: flex;
    align-items: center;
  }

  /* Boton Menu */
  .navMenuContainer > .navMenuContainer__btnMenu {
    display: none;
  }

  /* Menu Enlaces v1 */
  .navMenuContainer > .navMenuContainer__linksMenu {
    position: static;
    opacity: 1;
    pointer-events: auto;
    background-color: transparent;

    width: auto;
    flex-direction: row;
  }

  .navMenuContainer__linksMenu > a {
    padding: 0.5rem;
    color: var(--color-blanco);
  }

  /* Header - Nav v2*/
  .headerContainer > .headerContainer__navMenu___BackgroundColor{
    background-color: var(--color-secundario);
    height: calc(var(--header-nav-height) + 0.6rem);
  }

  /*Menu Enlace v2 */
  .navMenuContainer__linksMenu > a {
    color: var(--color-naranja);
  }
  .navMenuContainer__linksMenu > a:hover,
  .navMenuContainer__linkMenuSelected {
    color: var(--color-blanco);
    background-color: var(--color-principal);
    font-weight: 600;
  }
}
