.main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: min(100%, 4rem) 1fr;
    gap: .25rem;
    height: 88vh;
    margin: 1rem 2rem 0rem 2rem;
    background-color: #eee;
}

.title {
    display: flex;
    align-items: center;
}

.container {
    display: flex;
    justify-content: space-around;
    align-content: flex-start;
    flex-wrap: wrap;
    overflow: auto;
}


/* DESCRIPCION  */
.containerDescription {
    display: grid;
    grid-template-rows: 1fr min(100%, 3rem);
    height: 100%;
}

.containerDescription__fields {
    display: flex;
    flex-wrap: wrap;
}

.containerDescription__field {
    width: 45%;
    margin: 0 1rem;
}

.containerDescription__field h4 {
    margin-bottom: 1rem;
}

.previewVist div {
    max-height: 48vh;
    overflow-y: auto;
    text-align: center;
}

.btnContainer {
    margin: auto;
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 2rem;
}

.btn {
    border: none;
    color: var(--color-blanco);
    background-color: var(--color-principal);
    border-radius: 8px;
    cursor: pointer;
    padding: 1rem;
    transition: all 0.2s ease;
}

.btn:focus,
.btn:hover {
    background: #F0382C;
    outline: none;
    color: #fff;
}

.btn:disabled {
    background: #f0392c5b;
}

@media screen and (max-width: 768px) {
    .main {
        grid-template-rows: min(100%, 5rem) 1fr;
    }

    .container {
        overflow: visible;
    }
}

@media screen and (max-width: 1024px) {

    .containerDescription__field {
        width: 100%;
    }
}

/* TECNOLOGIAS  */