.main {
    display: grid;
    grid-template-columns: 0.70fr 0.30fr;
    grid-template-rows: min(100%, 4rem) 1fr 1fr min(100%, 3rem);
    grid-template-areas:
        "title title"
        "skills loadFiles"
        "skills loadFiles"
        "actions loadFiles";
    gap: .25rem;
    height: 88vh;
    margin: 1rem 2rem 0rem 2rem;
    background-color: #eee;
}

.title {
    grid-area: title;
    display: flex;
    align-items: center;
}

.skills {
    grid-area: skills;
    display: flex;
    justify-content: space-around;
    align-content: flex-start;
    flex-wrap: wrap;
    overflow: auto;
}

.skills__field {
    width: 45%;
    margin: 0 1rem;
}

.skills__field h4 {
    margin-bottom: 1rem;
}

.previewVist div {
    max-height: 48vh;
    overflow-y: auto;
    text-align: center;
}

.loadFiles {
    grid-area: loadFiles;
    /*display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    justify-content: start;*/
}

/*
.loadFiles__profile,
.loadFiles__cv {
    display: flex;
    gap: 1rem;
    align-items: center;
    flex-direction: column;
}

.loadFiles__profile img {
    width: 13rem;
    height: 13rem;
    border-radius: 50%;
}*/


.btnContainer {
    grid-area: actions;
    margin: auto;
    width: 100%;
    display: flex;
    justify-content: space-around;
    /*padding: 2rem 0;*/
}

.loadFiles__cv button,
.btn {
    border: none;
    color: var(--color-blanco);
    background-color: var(--color-principal);
    border-radius: 8px;
    cursor: pointer;
    padding: 1rem;
    transition: all 0.2s ease;
}

.loadFiles__cv button:focus,
.loadFiles__cv button:hover,
.btn:focus,
.btn:hover {
    background: #F0382C;
    outline: none;
    color: #fff;
}

.btn:disabled {
    background: #f0392c5b;
}

@media screen and (max-width: 768px) {
    .main {
        grid-template-areas:
            "title title"
            "loadFiles loadFiles"
            "profile profile"
            "actions actions";
        grid-template-rows: min(100%, 5rem) .5fr 1fr;
    }

    .skills {
        overflow: visible;
    }

    /*
    .loadFiles {
        flex-direction: row;
        justify-content: space-around;
    }

    .loadFiles__profile img {
        width: 10rem;
        height: 10rem;
        border-radius: 50%;
    }*/
}

@media screen and (max-width: 1024px) {
    .skills__field {
        width: 100%;
    }
}