.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: #1C202A;
    background-image: url(http://www.cfdesigner.com/codepen/rocket-page-bkg.png);
    background-position: center;
    background-size: cover;
    font-family: 'Open Sans', sans-serif;
    font-size: 100%;
    height: 100vh;

    padding-top: 2rem;
    letter-spacing: (0.5/16)+rem;
    line-height: (24/16)+rem;
    position: relative;
    /*width: 100vw;*/
}

.container {
    /*transform: scale(.5);*/
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    width: 100%;
    height: 100%;
    margin-top: 2rem;
    color: #fff;
}

.container>img {
    width: 9.375rem;
    height: 9.375rem;
}

.container>h1 {
    margin: 2rem 0;
    font-size: (40/16)+rem;
    font-weight: 700;
    letter-spacing: .25rem;
}

.container__Form {
    width: 309px;
}

.container__Form_fieldIcon {
    fill: #fff
}

.container__Form_btn {
    border: none;
    border-radius: 4px;
    color: #000;
    font: inherit;
    padding: 1rem;
    width: 100%;
    cursor: pointer;
    font-weight: 600;
    padding: 1rem;
    transition: all 0.2s ease;
}

.container__Form_btn:focus,
.container__Form_btn:hover {
    background: #F0382C;
    outline: none;
}