.myProjectsContainer > .myProjectsContainer__titulo {
  margin-top: 2rem;
  width: fit-content;
}

.containerPaginate{
  grid-column: span 1;
  margin-bottom: 2rem;
}

/* Media queries para tablet */
@media screen and (min-width: 768px) {
  /* Articulo */
  .myProjects > .myProjectsContainer {
    display: grid;
    grid-template-columns: repeat(2, 45%);
    justify-content: space-around;
    align-items: center;
  }

  .containerPaginate,
  .myProjectsContainer > .myProjectsContainer__titulo {
    grid-column: span 2;
  }
  /* Articulo */

}

/* Media queries para escritorio */
@media screen and (min-width: 1024px) {
  /* Articulo */
  .myProjects > .myProjectsContainer {
    display: grid;
    grid-template-columns: repeat(3, 32%);
    justify-content: space-around;
    align-items: center;
  }
  .myProjectsContainer > .myProjectsContainer__titulo {
    grid-column: span 3;
    margin-top: var(--header-nav-height);
  }

  .containerPaginate{
    grid-column: span 3;
  }

  /* Articulo */
}
