.mainContainer {
    display: grid;
    grid-template-columns: 0.5fr repeat(3, minmax(100px, 1fr));
    grid-template-rows: .175fr 1fr 1fr;
    grid-template-areas:
        "sidebar header header header"
        "sidebar content content content"
        "sidebar content content content";
    column-gap: .25rem;
    min-height: 100vh;
    background-color: #ccc;
    overflow-x: hidden;
}

.mainContainerSidebarNone {
    grid-template-areas:
        "header header header header"
        "content content content content"
        "content content content content";
}

/* ### HEADER CSS ### */

.headerGridContainer {
    background: #6d7fcc;
    grid-area: header;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    box-shadow: 0 4px 10px 0px #000;
}

.headerContainer__title {
    font-weight: 800;
    display: flex;
    color: #fff;
    align-items: center;
}

.headerContainer__title button {
    background-color: transparent;
    margin-right: 1rem;
    cursor: pointer;
    border: none;
    fill: #fff;
    background-color: transparent;
}

.headerContainer__title button:hover {
    background: rgba(220, 20, 60, .75);
}

.btnLogOut {
    font-weight: 600;
    padding: .5rem;
    border-radius: .5rem;
    cursor: pointer;
    border: 2px solid #dc143c;
    background-color: transparent;
    color: #fff;
    font-size: 1rem;
}

.btnLogOut:hover {
    background: rgba(220, 20, 60, .75);
}

/* ### HEADER CSS ### */


/* ### SIDEBAR CSS ### */
.sidebarGridContainer {
    grid-area: sidebar;
    height: 100%;
    background: #7386d5;
    color: #fff;
    transition: all 0.3s;
    border-radius: .75rem;
    box-shadow: 1px 10px 15px #000;
}

.sidebarGridContainerNone {
    display: none;
}

.sidebarContainer__header {
    padding: 1.25rem;
    margin-top: 2rem;
    background: #6d7fcc;
    text-align: center;
}

.sidebarContainer__content {
    padding: 1.25rem 0;
    display: flex;
    flex-direction: column;
}

.sidebarContainer__content a {
    color: #fff;
    text-align: left;
    padding: 1.25rem;
    display: flex;
    align-items: center;
    justify-content: left;
    border-bottom: 1px solid #47748b;
}

.sidebarContainer__content a img {
    margin-right: .5rem;
    width: 25px;
    height: 25px;
}

.sidebarContainer__content a:hover {
    color: #FFF;
    background: rgba(220, 20, 60, .75);
}

.isActive {
    background: #dc143c;
    color: #fff;
    font-weight: bold;
    margin-bottom: 5px;
}

/* ### SIDEBAR CSS ### */

.contentGridContainer {
    grid-area: content;
}