## Contrasena de administrador 
EMAIL_ADMIN=lalalal@lalal.com
PASSWORD_ADMIN=password_admin

## Entorno de desarrollo
NODE_ENV=development || production

## Puerto de SV
PORT=99999

## Clave super secreta
JWT_SECRET=claveSuperSecreta
EXPIRE_JWT=10  ## (10seg)

## Cookie
COOKIE_SECRET=claveSuperSecreta

## Conexion de base de datos
CONNECTION_DB=conexionBaseDatos