.main {
    display: flex;
    flex-direction: column;
}

.navTabs {
    display: flex;
    justify-content: center;
    padding-bottom: 1rem;
    border-bottom: 1px solid #000;
}

.navTabs li {
    color: #000;
    font-size: 1rem;
    font-weight: bold;
    padding: 0.5rem 3rem;
    text-align: center;
    transition: all 1s ease;
    opacity: 1;
    cursor: pointer;
    list-style-type: none;
}

.active,
.navTabs li:hover {
    color: var(--color-blanco) !important;
    background-color: var(--color-principal);
    font-weight: 600;
    opacity: 0.75;
}

.container {
    flex-grow: 1;
    margin-top: 1rem;
}

@media screen and (max-width: 768px) {
    .navTabs {
        flex-direction: column;
    }
}