.containerTechnologies {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: minmax(6.25rem, 0.4fr) 1fr;
}

.navCategories {
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.navCategories__title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 1rem;
}

.navCategories__title h4 {
    display: inline;
}

.navCategories__title svg {
    border: 1px solid #000;
    cursor: pointer;
}

.navCategories__items {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-around;
}

.navCategories__items li {
    display: flex;
    align-items: center;
    justify-content: space-between;

    text-align: center;
    font-size: 1rem;
    font-weight: bold;
    color: #000;

    opacity: 1;
    cursor: pointer;
    padding: 2rem;
    list-style-type: none;
    transition: all 1s ease;
}

.navCategories__items li svg {
    fill: #000;
    width: 1.5625rem;
    height: 1.5625rem;
    border: 1px solid #000;
    border-radius: .25rem;
    box-sizing: content-box;
    padding: .1rem;
    transition: all 1s ease;
}

.active,
.navCategories__items li:hover {
    color: var(--color-blanco) !important;
    background-color: var(--color-principal);
    font-weight: 600;
    opacity: 0.75;
}

.active>svg,
.navCategories__items li:hover>svg {
    fill: #fff !important;
    border: 1px solid #fff !important;
}



.BBB {
    background: orange;
}

@media screen and (max-width: 768px) {
    .containerTechnologies {
        grid-template-columns: 1fr;
        grid-template-rows: .2fr 1fr;
    }

    .navCategories__items {
        flex-direction: row;
        align-items: center;
    }

    .navCategories__items li {
        padding: 1rem;
        gap: .25rem;
        flex-direction: column;
    }
}

/* ---------------------------------------- */