.containerTechnologies {
    display: grid;
    grid-template-columns: minmax(6.25rem, 0.4fr) 1fr;
    grid-template-rows: 1fr;
    height: 100%;
}

.navCategories__title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}

.navCategories__title svg {
    border: 1px solid #000;
    cursor: pointer;
}

.navCategories__items {
    display: flex;
    flex-direction: column;
    max-height: 70vh;
    overflow: auto;
}

.navCategories__items li {
    display: flex;
    align-items: center;
    justify-content: space-between;

    text-align: center;
    font-size: 1rem;
    font-weight: bold;
    color: #000;

    opacity: 1;
    cursor: pointer;
    padding: 2rem;
    list-style-type: none;
    transition: all 1s ease;
}

.navCategories__items li svg {
    fill: #000;
    width: 1.5625rem;
    height: 1.5625rem;
    border: 1px solid #000;
    border-radius: .25rem;
    box-sizing: content-box;
    padding: .1rem;
    transition: all 1s ease;
}

.active,
.navCategories__items li:hover {
    color: var(--color-blanco) !important;
    background-color: var(--color-principal);
    font-weight: 600;
    opacity: 0.75;
}

.active>svg,
.navCategories__items li:hover>svg {
    fill: #fff !important;
    border: 1px solid #fff !important;
}

@media screen and (max-width: 768px) {
    .containerTechnologies {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }
    .navCategories__items {
        overflow: auto;
        max-height: 25vh;
    }
    
    .navCategories__items li {
        padding: .75rem;
    }
}

/* ---------------------------------------- */


.BBB {
    background: orange;
}


.technology {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-top: 1rem;
    width: 5.25rem;
    height: 5.25rem;
    border-radius: 1rem;
    animation: visual 1s 1 normal 0s ease-in-out;
    transition: transform 0.4s ease;
  }
  .technology span{
    padding: 0 .3rem;
  }
  
  @keyframes visual {
    0% {
      visibility: hidden;
      opacity: 0;
    }
  
    100% {
      visibility: visible;
      opacity: 1;
    }
  }
  
  .technology:hover {
    cursor: pointer;
    transform: scale(1.075);
  }
  
  .technology img {
    width: 100%;
    height: 100%;
    border-radius: 1rem;
  }
  
  /* Especie de Popup */
  .technology > div {
    position: relative;
    display: none;
  }
  .technology > div > p {
    position: absolute;
    top: 0.25rem;
    width: 5.25rem;
    min-height: 1.15rem;
  
    background-color: var(--color-principal);
    border-radius: 1rem;
    margin: 0 auto;
    font-size: 13px;
    color: #fff;
  }
  .technology:hover > div {
    display: block;
  }
  /* Especie de Popup */
  

  /* Express JS*/
  .technology p {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  
    margin: 1rem auto;
    font-size: 1.15rem;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
  }
  .technology p span {
    background-color: #f0db4f;
  }