.contactContainer > .contactContainer__form {
  margin: 2rem 0;
  padding: 1rem;
  max-width: 50rem;
  transition: transform 0.5s ease-in-out;
}
.contactContainer > .contactContainer__form:hover {
  transform: scale(1.05);
}

.contactContainer__form > div[id="form__boton"] > input[type="submit"] {
  width: 100%;
  margin: 0.75rem auto;
  padding: 0.5rem;
  margin-top: 0;

  font-family: var(--font);
  font-size: 0.85rem;

  cursor: pointer;
  border: 1px solid var(--color-principal-opacidad);
  transition: opacity 0.5s ease-out;
}
.contactContainer__form > div[id="form__boton"] > input[type="submit"]:hover {
  opacity: 0.8;
}



@media screen and (min-width: 768px) {
  .contactContainer > .contactContainer__form {
    margin: 2rem 0.75rem;
  }
  .contactContainer > .contactContainer__form:hover {
    transform: scale(1.03);
  }

  .contactContainer > .tarjet {
    display: grid;
    grid-template-columns: repeat(2, 47%);
    justify-content: space-around;
  }
}

@media screen and (min-width: 1024px) {
  .contactContainer > h2 {
    margin-top: var(--header-nav-height);
  }

  .contactContainer > .tarjet {
    grid-template-columns: repeat(4, 23%);
    justify-content: space-between;
  }


  .contactContainer > .contactContainer__form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1rem;
    margin: 2rem auto;
  }

  .contactContainer > .contactContainer__form > div[id="form__comment"] {
    grid-column: span 2;
  } /* pasar */
  
  .contactContainer__form > div[id="form__boton"]  {
    grid-column: span 2;
    width: 50%;
    margin: auto;
  }

  .contact__form__loader {
    grid-column: span 2;
  }


}

/* CSS DEL MODAL MSG */

.modal__contactForm_response {
  padding: 1rem;
  /* width: 25rem; */
  text-align: center;
  background-color: var(--color-blanco);
  margin: auto;
}
.modal__contactForm_response i {
  color: var(--color-principal);
  margin-top: 2rem;
  font-size: 4rem;
}

/* Mensaje validacion */
.contact_messageError {
  font-size: 12px;
  margin: 0;
  margin-top: -0.5rem;
  background-color: rgba(255, 0, 0, 0.102);
  /* //cambiar a block con JS cuando haya error */
  display: none;
}
.contact_messageErrorActive {
  display: block;
  animation: mensaje-error 1s 1 normal 0s ease-in-out;
}

@keyframes mensaje-error {
  0% {
    visibility: hidden;
    opacity: 0;
  }
  100% {
    visibility: visible;
    opacity: 1;
  }
}