/* ------------ Mobile ------------ */

/* Header - Nav */
.header nav {
  position: fixed;
  left: 0;
  bottom: 0;

  width: 100%;
  padding: 1rem;

  z-index: 1000;
}
.header nav.navModelo1,
.header nav.navModelo2 {
  background-color: var(--color-secundario);
  height: var(--header-nav-height);
}

/* Contenedor */
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
}

/* Logo */
.container > div:first-child > a {
  color: var(--color-principal);
  font-weight: bold;
  font-size: 1.45rem;
}
.container > div:first-child > a > span {
  color: var(--color-blanco);
}

/* Boton Menu */
.container > button {
  background-color: var(--color-secundario);
  outline: thin solid var(--color-principal);
  border: none;
  cursor: pointer;
}
.container > button > i {
  color: var(--color-blanco);
  font-size: 1.5rem;
  padding: 0.25rem;
  line-height: 1.5rem;
}

/* Menu Enlaces */
.container > div:last-child {
  position: fixed;
  bottom: var(--header-nav-height);
  right: 0;

  display: flex;
  flex-direction: column;

  width: 100%;
  background-color: var(--color-secundario);
  transition: opacity 0.5s ease;
  opacity: 0;
  pointer-events: none; /* Quitamos con CSS los eventos de Click*/
}
.container > div:last-child.is_active {
  opacity: 1 !important;
  pointer-events: auto !important;
}

.container > div:last-child > a {
  padding: 1rem;
  font-size: 1.25rem;
  text-align: center;
  color: var(--color-naranja);
  font-weight: 500;
}
.container > div:last-child > a:hover,
.active {
  color: var(--color-blanco) !important;
  background-color: var(--color-principal) !important;
  font-weight: 600 !important;
}

/* ------------ Escritorio ------------ */
@media screen and (min-width: 1024px) {
  /* Header - Nav */

  .header > nav {
    position: fixed;
    left: 0;
    top: 0;
    padding: 0.75rem;
    height: calc(var(--header-nav-height) - 0.5rem);
    transition: all 0.3s ease;
    box-shadow: 0 0 0.75rem var(--color-negro-opacidad);
  }
  .header > nav.navModelo1 {
    background-color: transparent;
    height: var(--header-nav-height);
  }


  /* Logo */
  .container > div:first-child {
    display: flex;
    align-items: center;
  }

  /* Boton Menu */
  .container > button {
    display: none;
  }

  /* Menu Enlaces v1 */
  .container > div:last-child {
    position: static;
    opacity: 1;
    pointer-events: auto;
    background-color: transparent;

    width: auto;
    flex-direction: row;
  }

  .container > div:last-child > a {
    padding: 0.5rem;
    color: var(--color-blanco);
  }

  /* Header - Nav v2*/
  .header > nav.navModelo2 {
    background-color: var(--color-secundario);
    height: calc(var(--header-nav-height) + 0.6rem);
  }

  /*Menu Enlace v2 */
  .header > nav.navModelo2 > .container > div:last-child > a {
    color: var(--color-naranja);
  }
  .header > nav.navModelo2 > .container > div:last-child > a:hover,
  .header > nav.navModelo2 > .container > div:last-child > a.active {
    color: var(--color-blanco);
    background-color: var(--color-principal);
    font-weight: 600;
  }
}
