.main {
    display: grid;
    grid-template-columns: 0.70fr 0.30fr;
    grid-template-rows: min(100%, 5rem) 1fr 1fr;
    grid-template-areas:
        "title title"
        "profile loadFiles"
        "profile loadFiles";
    gap: .25rem;
    height: 88vh;
    margin: 1rem 2rem 0rem 2rem;
    background-color: #eee;
}

.title {
    grid-area: title;
    display: flex;
    align-items: center;
}

.profile {
    grid-area: profile;
    display: flex;
    justify-content: space-around;
    align-content: flex-start;
    flex-wrap: wrap;
    overflow: auto;
}

.profile__field {
    width: 45%;
    margin: 0 1rem;
}

.profile__field h4 {
    margin-bottom: 1rem;
}

.previewVist div {
    height: 100%;
    max-height: 55vh;
    overflow-y: auto;
}

.loadFiles {
    grid-area: loadFiles;
    background: red;
}

@media screen and (max-width: 768px) {
  .main {
    grid-template-areas:
        "title title"
        "loadFiles loadFiles"
        "profile profile";
    }
    .profile {
        overflow: visible;
    }
}
@media screen and (max-width: 1024px) {
    .profile__field {
        width: 100%;
        margin: 0;
    }
}