.main {
    display: grid;
    grid-template-columns: 0.70fr 0.30fr;
    grid-template-rows: min(100%, 5rem) 1fr 1fr;
    grid-template-areas:
        "title title"
        "profile loadFiles"
        "profile loadFiles";
    gap: .25rem;
    height: 88vh;
    margin: 1rem 2rem 0rem 2rem;
    background-color: #eee;
}

.title {
    grid-area: title;
    display: flex;
    align-items: center;
}

.profile {
    grid-area: profile;
    display: flex;
    justify-content: space-around;
    align-content: flex-start;
    flex-wrap: wrap;
    overflow: auto;
}

.profile__field {
    width: 45%;
    margin: 0 1rem;
}

.profile__field h4 {
    margin-bottom: 1rem;
}

.previewVist div {
    height: 100%;
    max-height: 53vh;
    overflow-y: auto;
    text-align: center;
}

.loadFiles {
    grid-area: loadFiles;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    justify-content: start;
}

.loadFiles__profile,
.loadFiles__cv {
    display: flex;
    gap: 1rem;
    align-items: center;
    flex-direction: column;
}

.loadFiles__profile img {
    width: 13rem;
    height: 13rem;
    border-radius: 100%;
}


.loadFiles__cv button {
    border: none;
    color: var(--color-blanco);
    background-color: var(--color-principal);
    border-radius: 8px;
    cursor: pointer;
    padding: 1rem;
    transition: all 0.2s ease;
}

.loadFiles__cv button:focus,
.loadFiles__cv button:hover {
    background: #F0382C;
    outline: none;
    color: #fff;
}

@media screen and (max-width: 768px) {
    .main {
        grid-template-areas:
            "title title"
            "loadFiles loadFiles"
            "profile profile";
        grid-template-rows: min(100%, 5rem) .5fr 1fr;
    }

    .profile {
        overflow: visible;
    }

    .loadFiles {
        flex-direction: row;
        justify-content: space-around;
    }
}

@media screen and (max-width: 1024px) {
    .profile__field {
        width: 100%;
    }
}