.navContainer {
    height: 100%;
    background: #7386d5;
    color: #fff;
    transition: all 0.3s;
}

.navContainer__header {
    padding: 1.25rem;
    background: #6d7fcc;
    text-align: center;
}

.navContainer__content {
    padding: 1.25rem 0;
    border-bottom: 1px solid #47748b;
    display: flex;
    flex-direction: column;
}

.navContainer__content a {
    color: #fff;
    text-align: left;
    padding: 1.25rem;
    font-size: .9rem;
    display: flex;
    align-items: center;
    justify-content: left;
}

.navContainer__content a img {
    margin-right: .5rem;
    width: 25px;
    height: 25px;
}

.navContainer__content a:hover {
    color: #7386d5;
    background: #fff;
    text-decoration: underline;
}

.isActive {
    text-decoration: underline;
    background: #fff;
    color: #6d7fcc !important;
    font-size: 1.1rem !important;
    margin-bottom: 5px;
}