
.projectContainer {
    position: relative;
    display: block;
    /* width: 100%; */
    /* height: 23rem; */
  
    width: 95%;
    height: 21.625rem;
  
    margin: 0.75rem auto;
    overflow: hidden;
    cursor: pointer;
  }
  
.projectContainer > .projectContainer__mainImage {
    /* object-fit: cover; */
    width: 100%;
    height: 100%;
    object-position: center;
  }
.projectContainer > .projectContainer__infoProject {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  
    width: 100%;
    height: 100%;
    padding: 1rem;
    background-color: rgba(220, 20, 60, 0.675);
    color: var(--color-blanco);
  
    opacity: 0;
    pointer-events: none;
    transform: translateX(100%);
    transition: all 0.5s ease-in-out;
  }
    
  .projectContainer:hover > .projectContainer__infoProject {
    opacity: 1;
    pointer-events: auto;
    transform: translateX(0%);
  }
  
.projectContainer__infoProject > .projectContainer__infoContainer {
    width: 100%;
    height: 100%;
    padding: 1rem;
    border: 2px solid #fff;
    border-radius: 0.25rem;
    display: flex;
    flex-direction: column;
  
    align-items: center;
    text-align: center;
  }

  .projectContainer__infoContainer > .projectContainer__infoEnlace {
    width: 100%;
    height: 100%;
  
    display: flex;
    align-items: flex-end;
    justify-content: center;
  }
  
  .projectContainer__infoEnlace > button {
    /* Modificamos un poco la clase "btn" ya existente */
    background-color: rgb(5, 172, 243);
    width: 100%;
    font-size: 1.05rem;
    cursor: pointer;
  }