.main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.main h3 {
    text-align: center;
    padding: 2rem;
}

.containerBoxs {
    height: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: start;
}

.box{
    height: 10.9375rem;
    margin: 0 1rem;
}