.main {
    margin: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
}

/*---------------------------- */
.containerNavFilter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #000;
    margin: 0 4rem;
    height: 5.5rem;
}

/* */
.navFilterDate {
    display: flex;
    flex-direction: column;
    width: 15.625rem;
    margin-top: .5rem;
}

/* */
.navFilterToggle {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 12.5rem;
}

.navFilterToggle div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: .5rem;
}

/* */
.navFilterInputList {
    width: 14.0625rem !important;
    height: 2.1875rem !important;
    margin-top: 1rem;
}

/* */
.navFilterBtn {
    border: none;
    color: var(--color-blanco);
    background-color: var(--color-principal);
    border-radius: 8px;
    cursor: pointer;
    padding: 1rem;
    transition: all 0.2s ease;
}

.navFilterBtn:focus,
.navFilterBtn:hover {
    background: #F0382C;
    outline: none;
    color: #fff;
}

.navFilterBtn:disabled {
    background: #f0392c7e;
}

/* */
.navFilterInputNumber {

    /*width: 14.0625rem !important;*/
    /*height: 35px !important;*/
    margin-top: 1rem;
}

.navFilterInputNumber input {
    margin: 0;
    padding: .25rem;
}

/*---------------------------- */

.containerBoxs {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    align-content: start;

    /*max-height: 44rem;*/
    max-height: 74vh;
    overflow: auto;

}

.box {
    height: 14.0625rem;
}


.containerPaginate {
    position: absolute;
    bottom: 0rem;
    left: 0;
    right: 0;

    width: 90%;
    height: 4rem;

    display: flex;
    align-items: center;
    margin: auto;

    background-color: #eee;
    border-top: 1px solid #000;
}